.form{
    border: 5px solid black;
    width: 50%;
    background-color:#ADA991;
    border-radius: 10px;
    
}
.first-name{
    border: 4px solid black;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 5px 5px;
    width:90% ;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
.last-name{
    border: 4px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width:90% ;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
.email{
    border: 4px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width:90% ;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
.password{
    border: 4px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width:90% ;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
.city{
    border: 4px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width:90% ;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
    .select{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 50px;
        font-size: 30px;
        border-radius: 15px;
    }
    .submit{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:20% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .submit:hover{
        background-color: #BFBBA9;
        border-radius: 10px;
    }
    .back{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:20% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .back:hover{
        background-color: #BFBBA9;
        border-radius: 10px;
    }
    .address1{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .address2{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .date{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .date1{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    .zip-code{
        border: 4px solid black;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        width:90% ;
        height: 40px;
        font-size: 30px;
        border-radius: 15px;
    }
    